<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320870590749-go390l71al137vl022hmt2pqukmeateg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320870590749-go390l71al137vl022hmt2pqukmeateg</string>
	<key>API_KEY</key>
	<string>AIzaSyBFWCPXeQxtlh1_BI2FKSOncmLK-CxnVL4</string>
	<key>GCM_SENDER_ID</key>
	<string>320870590749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.creativeloop.switchbattle</string>
	<key>PROJECT_ID</key>
	<string>switchbattle-3a181</string>
	<key>STORAGE_BUCKET</key>
	<string>switchbattle-3a181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320870590749:ios:364ad1ea0000dad9</string>
	<key>DATABASE_URL</key>
	<string>https://switchbattle-3a181.firebaseio.com</string>
</dict>
</plist>